<!DOCTYPE html>
<html lang="ko"
      html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발자를 위한 QA 서비스 | Hashcode</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body th:fragment="footerFragment">

    <footer class="hidden-sm-down">
        <div class="footer-wrap">
          <div class="flex-center">
            <h4><a href="">Hashcode</a></h4>
          </div>
          <div class="flex-center">
            <h6>
              <ul class="nav">
                <li><a class="nav-link" href="/tos">이용약관</a></li>
                <li><a class="nav-link" href="/privacy">개인정보 보호</a></li>
                <li><a class="nav-link opinion-item" data-placement="top" data-toggle="popover-login" data-trigger="focus" tabindex="1" href="javascript:;" data-original-title="" title="">제안/의견 보내기</a></li>
              </ul>
            </h6>
          </div>
        </div>
      </footer>

      <!--창 축소 시 반응형으로 동작-->
      <footer class="hidden-md-up">
        <h5><a href="">Hashcode</a></h5>
        <h6>
            <ul class="nav">
                <li><a class="nav-link" href="/tos">이용약관</a></li>
                <li><a class="nav-link" href="/privacy">개인정보 보호</a></li>
                <li><a class="nav-link opinion-item" data-placement="top" data-remote="true" href="">제안/의견 보내기</a></li>
            </ul>
        </h6>
    </footer>
      
      <!--제안/의견 보내기 모달창-->
      <div id="popover-content-login" class="popover-content-login" style="display: none;">
      <div class="popover-body">
        <h1 class="title">
          ᕕ( ᐛ )ᕗ<br>
          로그인이 필요합니다
        </h1>
        <h6 class="description">Hashcode는 개발자들을 위한 무료 QnA사이트 입니다. 계정을 생성하셔야만 글을 작성하실 수 있습니다.<br></h6>
        <div class="btn-wrap">
          <a class="btn btn-sm btn-default" href="">로그인</a>
          <a class="btn btn-sm btn-default" href="">가입하기</a>
        </div>
      </div>
    </div>
    
    <script src="../static/JS/hashcode.js"></script>
     
</body>
</html>
