body {
    width: 100%;
    margin: 0;
    background-color: #FBFBFC;
    color: #202A2F;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}
@media (min-width: 768px){
.headerbar {
    background: #2979FF;
    border-radius: 0;
    padding: 0;
    box-shadow: 0 2px 4px rgb(50 50 80 / 16%);
}}
@media (min-width: 768px){
.headerbar .headerbar-wrap {
    max-width: 85.7142857143rem;
    width: 85.7142857143rem;
    margin: 0 auto;
    padding-left: 3.5714285714rem;
    padding-right: 3.5714285714rem;
    padding-top: 2.8571428571rem;
    padding-bottom: 1.1428571429rem;
    color: white;
}}

@media (min-width: 768px){
.headerbar .headerbar-wrap h1 {
    font-family: 'Roboto Mono', "Source Code Pro", Monaco, monospace;
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
}}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h3, h4, h5, h6 {
    font-family: 'Roboto', '맑은 고딕', malgun gothic, '돋움', Dotum, 'Helvetica Neue', Helvetica, verdana, Arial, sans-serif;
}

h5, .h5 {
    font-size: 1.25rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5 {
    font-weight: 400;
    font-size: 1.0714285714rem;
    line-height: 1.6428571429rem;
}
h4 {
    font-weight: 400;
    font-size: 1.2857142857rem;
    line-height: 1.9285714286rem;
}
h6 {
    font-weight: 400;
    font-size: 0.9285714286rem;
    line-height: 1.4285714286rem;
    word-spacing: -0.0142857143rem;
}
h1, h2 {
     font-family: 'Roboto', 'Spoqa Han Sans', 'Helvetica Neue', Helvetica, verdana, Arial, sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 3.2857142857rem;
    line-height: 5rem;
    word-spacing: -0.0714285714rem;
}

@media (min-width: 768px){
.hidden-md-up {
    display: none !important;
}}
.main .content {
    padding-top: 40px;
}

.main>.content>.content-wrap {
    max-width: 1200px;
    width:1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.m-b-20 {
    margin-bottom: 20px !important;
}
.searchbar {
    margin-bottom: 16px;
}
form {
    display: block;
    margin-top: 0em;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}
button, input, optgroup, select, textarea {
     font: inherit;
     margin: 0;
}
a, input, textarea {
    outline: none !important;
}
input, button, select, textarea {
    line-height: inherit;
}
.input-group {
    position: relative;
    width: 100%;
    display: table;
    border-collapse: separate;
}
button, input {
    overflow: visible;
}
.searchbar .input-group .form-control:not(:first-child):not(:last-child):hover, .searchbar .input-group .form-control:not(:first-child):not(:last-child):focus, .searchbar .input-group .form-control:not(:first-child):not(:last-child):active {
    z-index: 2;
    box-shadow: 4px 4px 8px -2px rgb(50 50 100 / 16%), 16px 16px 24px rgb(50 50 100 / 8%), 24px 24px 56px rgb(50 50 100 / 12%);
    background-color: white;
}
.searchbar .input-group .form-control:not(:first-child):not(:last-child) {
     font-weight: 400;
     font-size: 1.2857142857rem;
     line-height: 1.9285714286rem;
     -webkit-transition: .16s;
     transition: .16s;
     font-family: 'Roboto Mono', "Source Code Pro", Monaco, monospace;
     padding: 1rem 3.7142857143rem;
     border: none;
     border-radius: 0.2142857143rem;
     background-color: rgba(50,50,100,0.06);
 }
 .searchbar .input-group .input-group-addon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 99;
      border: none;
      background-color: transparent;
 }
 .hc-icons-search {
     background-image: url(/image/icons.png);
     background-size: 771px 780px;
     background-repeat: no-repeat;
     text-indent: -999999em;
     display: block;
     display: inline-block;
     line-height: 1.7142857143rem;
     width: 1.7142857143rem;
     height: 1.7142857143rem;
     background-position: 0 0;
 }
.searchbar .input-group .icon-search {
      left: 0.5714285714rem;
      pointer-events: none;
}
.searchbar .input-group {
    position: relative;
}

.input-group-addon:not(:last-child) {
    border-right: 0;
}
.searchbar .has-clear.has-empty-value .form-control-clear {
    display: none;
}
.searchbar .has-clear .form-control-clear {
    color: #90A4AE;
    padding-right: 1.4285714286rem;
    pointer-events: auto;
    cursor: pointer;
}
.searchbar .input-group .form-control-clear {
    right: 1.1428571429rem;
}
.hc-icons-l-x {
    background-image: url(/image/icons.png);
    background-size: 771px 780px;
    background-repeat: no-repeat;
    text-indent: -999999em;
    display: block;
    display: inline-block;
    line-height: 1.7142857143rem;
    width: 1.7142857143rem;
    height: 1.7142857143rem;
    background-position: -50px 0;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group>.btn, .input-group-btn:not(:first-child)>.dropdown-toggle, .input-group-btn:not(:last-child)>.btn:not(:first-child), .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control {
    -webkit-transition: .16s;
    transition: .16s;
    font-family: 'Roboto', '맑은 고딕', malgun gothic, '돋움', Dotum, 'Helvetica Neue', Helvetica, verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.0714285714rem;
    line-height: 1.6428571429rem;
    box-shadow: 0 0 rgb(50 50 100 / 0%);
    padding: 0.7142857143rem 0.8571428571rem;
    border-radius: 0.2142857143rem;
    border-color: #E1E7EB;
    background-color: transparent;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
}

.title-with-bottom-line {
    font-weight: 400;
    font-size: 1.0714285714rem;
    line-height: 1.6428571429rem;
    font-weight: 700;
    padding-bottom: 0.2857142857rem;
    border-bottom: 0.0714285714rem solid #E1E7EB;
    margin: 2.8571428571rem 0 0 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.m-t-20 {
    margin-top: 1.4285714286rem !important;
}
.tag-list {
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.tag-list li {
    text-decoration: none;
    margin-left: 2.2857142857rem;
    width: calc((100% - 6.8571428571rem) / 4);
    padding: 1.1428571429rem 0;
    border-bottom: 0.0714285714rem solid #E1E7EB;
    height: 7.4285714286rem;
}
.tag-list li:nth-child(4n+1) {
    margin-left: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:focus, a:hover {
    color: #014c8c;
    text-decoration: underline;
}
a:active, a:hover {
    outline-width: 0;
}
document.querySelector("body > div > div.main > div.content > div > ul:nth-child(6) > li:nth-child(1) > h4")
.tag-list h4 {
    font-family: 'Roboto Mono', "Source Code Pro", Monaco, monospace;
}
.tag-list h6 {
    margin-top: 0.2857142857rem;
    padding-left: 0.0714285714rem;
    color: #90A4AE;
}
.tag-list .toggle-tag-link {
    float: right;
    -webkit-transition: .16s;
    transition: .16s;
    margin-top: 0.0714285714rem;
    color: #90A4AE;
}
a, a:hover, a:focus {
    text-decoration: none;
}
a {
    color: #0275d8;
    text-decoration: none;
}