<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발자를 위한 QA 서비스 | Hashcode</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="topbar navbar  hidden-sm-down">
        <div class="topbar-wrap">
          <div class="topbar-content">
            <a class="navbar-brand" href="">
              <span class="hc-icons-logo">Hashcode</span>
            </a>
            <ul class="nav navbar-nav animated-dropdown">
                <li class="nav-item"><a title="가입하기" class="nav-link nav-signup" href="">가입하기</a></li>
                <li class="nav-item"><a title="로그인" class="nav-link nav-signin" href="">로그인</a></li>
                <li class="nav-item"><a class="nav-link nav-opinion opinion-item" data-placement="bottom" data-toggle="popover-login" data-trigger="focus" tabindex="1" href="javascript:;" data-original-title="" title="">의견 보내기</a></li>
      
              <li class="nav-item nav-code-runner">
                <a title="코드 실행기" class="nav-link btn-code-runner" id="btn-code-runner" target="_blank" href="">코드 실행기</a>
              </li>
              <li class="nav-item nav-question">
                <a class="nav-link btn-question" data-placement="bottom" data-toggle="popover-login" data-trigger="focus" tabindex="1" href="javascript:;" data-original-title="" title="">질문하기</a>
              </li>
            </ul>
          </div>
          <div class="notification-popup"></div>
        </div>
      </nav>

      <nav class="topbar navbar  hidden-md-up">
        <div class="topbar-wrap">
          <div class="topbar-content">
            <div class="flex-center">
              <a class="navbar-brand" title="Hashcode 홈" href=""><span class="hc-icons-m-logo">Hashcode</span></a>
            </div>
      
            <div class="flex-center">
              <ul class="nav navbar-nav">
                <li class="nav-item nav-menu">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar-menu" aria-expanded="false">
                    <span class="hc-icons-more" id="icon-more">more</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <nav class="navbar-collapse collapse" id="topbar-menu">
          <ul class="topbar-menu">
              <li><a title="로그인" href="">로그인</a></li>
              <li><a title="가입하기" href="">가입하기</a></li>
            <li>
              <a data-placement="bottom" href="javascript:Athena.popups.login();">의견 보내기</a>
            </li>
            <li>
              <a title="코드 실행기" class="nav-link btn-code-runner" id="btn-code-runner" target="_blank" href="">코드 실행기</a>
            </li>
            <li>
              <a data-placement="bottom" href="javascript:Athena.popups.login();">질문하기</a>
            </li>
          </ul>
        </nav>
      </nav>
    
</body>
</html>