<!DOCTYPE html>
<html lang="ko" xml:lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>개발자를 위한 QA 서비스 | Hashcode</title>

<link rel="stylesheet" media="all" href="CSS/index.css" />

</head>
<body class="root root-index" >
<div class="main" layout:fragment="content">
<div class="content">
  <div class="content-wrap">
    <div class="center">
      <div class="searchbar">
  <form role="form" action="/questions/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="input-group has-clear">
      <span class="input-group-addon icon-search"><span class="hc-icons-search">Search</span></span>
      <input required="required" placeholder="질문을 검색하세요." class="form-control input" name="text" id="text" type="text" value="">
      <span class="input-group-addon form-control-clear"><span class="hc-icons-l-x">Close</span> </span>
    </div>
</form></div>
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link active" href="#">최신</a></li>
          <li class="nav-item"><a class="nav-link" href="#">인기</a></li>
          <li class="nav-item"><a class="nav-link" href="#">답변 필요</a></li>
          <li class="nav-item"><a class="nav-link" href="#">태그 선택</a></li>
      </ul>

      <ul class="question-list">
          <li id="question-14062" class="question-list-item">
    <div class="question-view-count">
      <div class="question-number">32</div>
      <h6>조회</h6>
   </div>
	<div class="question-vote-count" data-id="14062">
		<div class="question-number">-1</div>
		<h6>좋아요</h6>
	</div>
	<div class="question-answer-count accepted" data-id="14062">
		<div class="question-number">✓1</div>
		<h6>답변</h6>
	</div>
	<div class="question">
		<div class="top">
			<h4><a href="#">제목</a></h4>
		</div>
		<ul class="question-tags">
            <li class="label label-tag ">
              <a rel="tag" href="#">
                  <span data-tag="#">태그</span>
</a>            </li>
		</ul>

		<ul class="question-info float-xs-right">
					<li><a title="작성자" href="#">작성자</a></li>
					<li><time datetime="">날짜</time></li>
		</ul>
	</div>
</li>

      </ul>
      <nav class="">
		  <ul class="pagination">
			  <li class="prev previous_page disabled page-item">
				    <a class="page-link" href="#">이전</a></li> <li class="active page-item">
				    <a class="page-link" href="/?page=1">1</a></li> <li class="page-item">
				    <a rel="next" class="page-link" href="/?page=2">2</a></li> <li class="page-item">
					<a class="page-link" href="/?page=3">3</a></li> <li class="page-item">
					<a class="page-link" href="/?page=4">4</a></li> <li class="page-item"><a class="page-link" href="/?page=5">5</a></li> 
				<li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li> 
				<li class="page-item"><a class="page-link" href="/?page=209">209</a></li> 
				<li class="next next_page  page-item"><a class="page-link" rel="next" href="/?page=2">다음</a></li>
			</ul>
		</nav>
    </div>

    <div class="right">
      <div class="banner m-b-30" data-name="top-right">
      <a data-name="top-right" onclick="trackOutboundLink(&#39;https://programmers.co.kr/learn/courses/12175?utm_source=hashcode&amp;utm_medium=banner&amp;utm_campaign=course12175_hs&amp;utm_content=course12175_hs01&#39;); return true;" target="_blank" href="https://programmers.co.kr/learn/courses/12175?utm_source=hashcode&amp;utm_medium=banner&amp;utm_campaign=course12175_hs&amp;utm_content=course12175_hs01">
      <img src="https://grepp-cloudfront.s3.ap-northeast-2.amazonaws.com/programmers_imgs/learn/course_kdt_fe_ver01/210526_hashcode_banner_FE.png" />
      </a>
    </div>

      <div class="leaders">
  <div class="leaders-header">
    <div class="title">
      <a class="info" href="#">명예의 전당</a>
     </div>
    </div>
   </div>
    </div>
  </div>
</div>
</div>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKZX39V" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</body>
</html>