<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backendStudy.cat.mapper.CommentMapper">

    <!-- comment 테이블 전체 컬럼 -->
    <sql id="commentColumns">
        comment_idx,
        user_idx,
        board_idx,
        answer_idx,
        comment_content,
        date,
        update_time,
        comment_exist
    </sql>

    <!-- 댓글 정보 저장 -->
    <insert id="insertComment" parameterType="DTOComment">
        INSERT INTO comment (<include refid="commentColumns"/>)
        VALUES (
            #{commentIdx},
            #{userIdx},
            #{boardIdx},
            #{answerIdx},
            #{commentContent},
            NOW(),
            NULL,
            1
        )
    </insert>

    <!-- 댓글 인덱스 조회 -->
    <select id="selectCommentIdx" parameterType="long" resultType="DTOComment">
        SELECT *
        FROM comment
        WHERE comment_exist = 1
        AND comment_idx = #{commentIdx}
    </select>

    <!-- 댓글 개수 조회-->
    <select id="selectCountComment" parameterType="DTOComment" resultType="long">
        SELECT
            COUNT(*)
        FROM comment
        WHERE comment_exist = 1
    </select>

    <!-- 댓글 리스트 조회 -->
    <select id="selectCommentList" parameterType="DTOComment" resultType="DTOComment">
        SELECT <include refid="commentColumns"/>
        FROM comment
        WHERE comment_exist = 1
        ORDER BY
            comment_idx ASC,
            date ASC
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="DTOComment">
        UPDATE comment
        SET
            user_idx = #{userIdx},
            comment_content = #{commentContent},
            update_time = NOW()
        WHERE comment_idx = #{commentIdx}
    </update>

    <!-- 댓글 삭제 -->
    <update id ="deleteComment" parameterType="long">
        UPDATE comment
        SET comment_exist = 0
        WHERE comment_idx = #{commentIdx}
    </update>

</mapper>
